atom-text-editor .vscode-inlay-hint-callout {
  color: @text-color;
  font-family: var(--editor-font-family);
  font-size: var(--editor-font-size);
  font-style: normal;
  line-height: var(--editor-line-height);
}
